
body, html {
    height: 100%;
  }

 .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .conteudo{
  width: 400px;
  border-radius: 5px;
  border: 1px solid;
  padding: 30px;
  }

.botao {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
  }
  .excluir{
    width: 150px;
    padding: 5px;
  }